/* CUSTOM PROPERTIES */

:root {
  --clr-primary-100: hsl(0, 0%, 100%);
  --clr-primary-200: hsl(0, 0%, 80%);

  --clr-primary-800: hsl(0, 0%, 20%);
  --clr-primary-900: hsl(0, 0%, 0%);

  --clr-primary-accent-300: hsl(150, 81%, 51%);
  --clr-primary-accent-400: hsl(153, 100%, 46%);

  --clr-secondary-accent-200: hsl(223, 21%, 94%);

  --ff-primary: "Rubik", sans-serif;
}

/* CSS RESET */

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* GENERAL-BASE STYLES */

body {
  font-family: var(--ff-primary);
  background: var(--clr-primary-900);
  color: var(--clr-primary-100);
  overflow-x: hidden;
}

a {
  color: var(--clr-primary-100);
  text-decoration: none;
}

a:hover {
  color: var(--clr-primary-200);
}

ul {
  list-style-type: none;
}

/* HEADER */

.main__header {
  height: 60vh;
  background: url(/img/header.jpg) no-repeat center center / cover;
}

.main__header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 12vh;
  z-index: 1;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.76) 15.54%,
    rgba(0, 0, 0, 0.192) 60.23%,
    rgba(0, 0, 0, 8e-5) 100%
  );
}

.main--logo {
  width: 16.875rem;
  margin: 1.25rem;
}

.main__header nav {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 2.5rem;
  z-index: 2;
  position: relative;
}

.main__header--content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1.875rem;
}

.main__header--text {
  font-size: 1.5rem;
  font-weight: bold;
}

.main__header--subtext {
  font-size: 1.25rem;
  margin: 1.625rem 0;
}

@media (max-width: 48rem) {
  .main--logo {
    width: 12.5rem;
  }

  .main__header--content {
    text-align: center;
    padding: 0 1.25rem;
  }

  .main__header--text {
    margin-bottom: 2.5rem;
  }

  .main__header--subtext {
    display: none;
  }
}

/* SUB-HEADER */

.sub__header {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  gap: 2.5rem;
  align-items: center;
  padding: 1.875rem 2.5rem;
  background: linear-gradient(320deg, #0f495c 0%, #0d3640 50%, #08141f 100%);
}

.sub__header > div:last-of-type {
  justify-self: end;
  align-self: end;
}

@media (max-width: 48rem) {
  .sub__header {
    grid-template-columns: 1fr;
    gap: 1.5rem;
    text-align: center;
  }

  .sub__header > div:last-of-type {
    justify-self: center;
    align-self: center;
  }
}

/* CATEGORIES */

.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5.625rem 2.5rem;
}

.categories__covers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;
  margin-top: 2.5rem;
}

.categories__covers {
  position: relative;
  width: 100%;
  height: 31.25rem;
}

.categories__text {
  max-width: 65%;
  margin-bottom: 0.625rem;
  font-size: 1.5rem;
}

.cover--grad {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      156.82deg,
      rgba(0, 0, 0, 0.2) 4.58%,
      rgba(0, 0, 0, 0) 69.61%
    ),
    linear-gradient(24.5deg, rgba(0, 0, 0, 0.1) 4.71%, rgba(0, 0, 0, 0) 71.49%);
}

.cover--text {
  position: absolute;
  top: 1.25rem;
  text-align: left;
}

.categories__cover--1 {
  background: url(/img/cover-1.jpg) no-repeat center center / cover;
  border-radius: 10px;
}

.categories__cover--2 {
  background: url(/img/cover-2.jpg) no-repeat center center / cover;
  border-radius: 10px;
}

.categories__cover--3 {
  background: url(/img/cover-3.jpg) no-repeat center center / cover;
  border-radius: 10px;
}

.categories__cover--4 {
  background: url(/img/cover-4.jpg) no-repeat center center / cover;
  border-radius: 10px;
}

.cover--subtitle {
  font-size: 0.75rem;
  font-weight: 500;
  padding-left: 2rem;
}

@media (max-width: 48rem) {
  .text--xl {
    font-size: 3rem;
    line-height: 1.1;
  }

  .categories__text {
    font-size: 1.2rem;
  }

  .categories__covers {
    grid-template-columns: 1fr;
  }
}

/* LIVE */

.live {
  background: var(--clr-primary-800);
  padding: 2.5rem;
}

.live--border {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 4px solid var(--clr-primary-accent-400);
  border-radius: 16px;
  padding: 6.25rem;
}

.live--subtext {
  max-width: 65%;
  margin-bottom: 0.625rem;
  font-size: 1.5rem;
}

.live a {
  text-transform: uppercase;
  font-size: 1.125rem;
  margin-top: 1.25rem;
  text-decoration: underline;
}

.live a:hover {
  color: var(--clr-primary-accent-400);
  transition: 0.5s ease-in-out;
}

@media (max-width: 48rem) {
  .live {
    padding: 1rem;
  }
  .live--border {
    padding: 16px 6px;
  }
}

/* UTILITY CLASSES */

.btn {
  display: inline-block;
  background: var(--clr-primary-100);
  color: var(--clr-primary-800);
  min-width: 8.75rem;
  padding: 1.25rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 16px;
  border: none;
  border-radius: 7px;
  letter-spacing: 1px;
  cursor: pointer;
  text-transform: uppercase;
}
.btn--login {
  cursor: pointer;
  background: none;
  border: none;
  color: var(--clr-primary-100);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
}

.btn--login:hover {
  color: var(--clr-primary-accent-400);
  transition: 0.5s ease-in-out;
}

.btn--outline {
  background: none;
  color: var(--clr-primary-100);
  border: 2px solid var(--clr-primary-100);
}

.btn--outline:hover {
  color: var(--clr-primary-accent-400);
  border-color: var(--clr-primary-200);
  transition: 0.5s ease-in-out;
}

.btn--cta:hover {
  color: var(--clr-primary-accent-400);
  opacity: 0.8;
  transition: 0.5s ease-in-out;
}

.legal--text {
  font-size: 10px;
  color: var(--clr-primary-200);
  margin-top: 1.25rem;
}

.sub__header--link {
  display: block;
  color: var(--clr-primary-200);
  font-size: 0.75rem;
  margin-top: 0.3125rem;
  text-decoration: underline;
}

.sub__header--link:hover {
  color: var(--clr-primary-100);
}

.header--text-md {
  color: var(--clr-primary-accent-400);
  font-size: 0.875rem;
  text-transform: uppercase;
}

.header--text-lg {
  font-size: 1.625rem;
  font-weight: 300;
}

.title--color {
  color: var(--clr-primary-accent-400);
}

.text--center {
  text-align: center;
}

.text--xl {
  font-size: 4.375rem;
  font-weight: bold;
}

.text--md {
  font-size: 1.625rem;
  font-weight: 300;
}

.py--2 {
  padding-left: 2rem;
}
